body {
    /*margin: 40px 10px;*/
    /*padding: 0;*/
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.fc-day-header{
    background-color: darkseagreen;
}
.fc-widget-content{
    background-color: aliceblue;
}

#titulo {
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    background-color: darkseagreen;
}

#descripcion{
    height: 240px;
    border: lightskyblue;
    border-style: dotted;
    background-color: aliceblue;
}